/*----------------------------------------------------------------*/
/*********************** Resetiar Documento ***********************/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
ol,ul {list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
q:before,q:after{content:'';}


/*----------------------------------------------------------------*/
/************************** Documento *****************************/
body 
{
    margin: 0px;
	background: #CDE3F6;
	
}
*
{
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
/*----------------------------------------------------------------*/
/************************** Plantilla *****************************/
#ppal
{
 margin: 0px auto 0px auto;
}
#logo
{
	height: 670px;
	width: 616px;
	background: url(../images/home.png);
	float: left;
}
#formulario
{
	height: 670px;
	margin: 0px 0px 0px 616px;
	width: 300px;
}
#bglogin
{
    height: 670px;
	background: url(../images/login.png) no-repeat center top;
	padding: 0px 0px 0px 32px;
	
}

/*#bgcontra
{
	height: 670px;
	background: url(../images/crm_winpass1.png) no-repeat center top;
	padding: 0px 0px 0px 32px;
}*/
label
{
	color: #FFFFFF; 
/*    margin:0px 20px 20px 100px;
*/


}
.contrasenalink
{ 
color:#FFFFFF;
cursor:pointer;
text-decoration:none;

}
.contrasenalink:link
{ color:#FFFFFF;

}

#campotext
{
	color: #000000;
	background: #FFFFFF;
	padding: 4px;
	margin-bottom: 20px;
	width: 220px;
	border: 1px solid #B3B3B3;
	
}

#campotext:hover, #campotext:focus
{
	background: #B6B6B6;
}

#botonenviar
{
	color: #FFFFFF;
	background: #6592C9;
	padding: 4px;
	width: 230px;
	border: 1px solid #B3B3B3;
}
#botonenviar:hover
{
	/*background: #6F0F18;*/
	background:#9AD9E9;
	cursor: pointer;
	border: 1px solid #B3B3B3;
}
/*----------------------------------------------------------------*/
/******************** Validar Formularios **************************/
input.error 
{ 
	/*border-right: 2px solid #CC0000 !important;*/
}
/*----------------------------------------------------------------*/
/****************** Ventana JQuery Avisos ************************/
#modalOverlay 
{
	background-color:#000; 
}
#modalContainer 
{
	height: 160px; 
	width: 400px; 
	left: 50%; 
	top: 30%; 
	margin-left:-200px; 
	background-color: #670D17; 
	background: url(../images/crm_conerror.png) no-repeat;
}
#modalContainer a.modalCloseImg 
{
	background:url(../images/crm_salir.png) no-repeat;
	width:18px; 
	height:18px; 
	display:inline; 
	z-index:3200; 
	position:absolute; 
	top:2px; 
	right:2px; 
	cursor:pointer;
}

#msg_error 
{
	display: none;
	height: 160px; 
	width: 400px; 
	background: url(../images/crm_msgerror.png) no-repeat;
}

/*----------------------------------------------------------------*/
/**************************** Enlaces *****************************/
a:focus 
{
	outline: none;
}
#enlacePass a:link, #enlacePass a:visited
{
	text-decoration: none;
	color: #FFFFFF;
	padding: 0px 0px 4px 0px;
	border-bottom: 1px solid #9B5F66;
}
#enlacePass a:hover 
{
	border-bottom: 1px solid #FFFFFF;
}



/*----------------------------------------------------------------*/
/**************************** Panel ******************************/
#panel 
{
	height: 180px;
	width: 500px;
	display: none;
	margin: 0px auto 0px auto;
	z-index: 999;
	position: fixed;
	left: 30px;
	top: 0px; 
/*	filter: alpha(opacity=50); 
	opacity: .5;*/
	background: url(../images/crm_winpass.png) no-repeat;
}

#panel a.cerrarp 
{
	background:url(../images/crm_salir.png) no-repeat;
	width:18px; 
	height:18px; 
	display:inline; 
	z-index:3200; 
	position:absolute; 
	top:2px; 
	right:2px; 
	cursor:pointer;
}


fieldset
{
	padding: 10px;
	margin: 10px 8px;
	border: 1px solid #9B5F66;
	text-align: center;
}
